				<div class="row">
					<div class="col-md-12">
						<div class="hr"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 text-uppercase">
						<p class="GL">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
					</div>
					<div class="col-md-6 text-uppercase text-right">
						<h2>bathroom</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<%= image_tag "spree/frontend/category-1-baner.jpg" , class: 'full-width baner' %>
						<div class="hr"></div>
					</div>
				</div>


				<div class="row">
					<% @products_categories.each do |category| %>
						<div class="col-md-3">
							<div class="item">
								<% category.products.sample(1).each do |product| %>
									<!--	<%= link_to small_image(product, class: 'full-width'), show_taxon_path(category.id) %> -->
									<%= link_to (image_tag "spree/frontend/category-1-item-1.jpg" , class: 'full-width'), show_taxon_path(category.id) %>
								<% end %>
								<div class="section mb">
									<div class="left">
										<h5><%= category.name %></h5>
									</div>
									<div class="right text-right">
										<%= image_tag "spree/frontend/arrow-right.png" %>
									</div>
								</div>
								<ul>
									<% @products_categories.each do |cate| %>
										<li><%= link_to cate.name, show_taxon_path(cate.id) %></li>
									<% end %>
								</ul>
							</div>
						</div>
					<% end %>
					
				</div>

				<!-- <div class="row">
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-1.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Bathroom Faucets</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-2.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Bathroom Sinks</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-3.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Bathtubs</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-4.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Showers</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-5.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Toilets</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-6.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Urinals & Bidets</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-7.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Vanities & Storage</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="item">
							<%= link_to (image_tag "spree/frontend/category-1-item-8.jpg" , class: 'full-width'), bathroom_1_path %>
							<div class="section mb">
								<div class="left">
									<h5>Bathroom Accents</h5>
								</div>
								<div class="right text-right">
									<%= image_tag "spree/frontend/arrow-right.png" %>
								</div>
							</div>
							<ul>
								<li><a href="#">Drain Trim Sets</a></li>
								<li><a href="#">Grills & Strainers</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Roman Tub Drains</a></li>
								<li><a href="#">Shower Rods & Holders</a></li>
								<li><a href="#">Shower</a></li>
								<li><a href="#">Shower Arms & Flanges</a></li>
								<li><a href="#">Tub Spouts</a></li>
								<li><a href="#">Conversion Kits</a></li>
								<li><a href="#">Face Plates & Accessories</a></li>
								<li><a href="#">Offset Bath Supplies</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 text-uppercase">
						<h4 class="mt">trusted brands</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="brands">
							<div><%= image_tag "spree/frontend/brands-1.jpg" %></div>
							<div><%= image_tag "spree/frontend/brands-2.jpg" %></div>
							<div><%= image_tag "spree/frontend/brands-3.jpg" %></div>
							<div><%= image_tag "spree/frontend/brands-4.jpg" %></div>
							<div><%= image_tag "spree/frontend/brands-5.jpg" %></div>
							<div><%= image_tag "spree/frontend/brands-6.jpg" %></div>
						</div>
					</div>
				</div> -->