				<div class="row">
					<div class="col-md-12">
						<div class="hr"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 text-uppercase">
						<p class="GL">lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
					</div>
					<div class="col-md-6 text-uppercase text-right">
						<h2><%= @taxonomies.name %></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<%= image_tag "spree/frontend/category-1-baner.jpg" , class: 'full-width baner' %>
						<div class="hr"></div>
					</div>
				</div>


				<div class="row">
					<% @taxons.each do |category| %>
						<div class="col-md-3">
							<div class="item">
								<% category.products.sample(1).each do |product| %>
									<%= link_to large_image(product, size: '280x198'), show_taxon_path(category.id) %>
								<% end %>
								<div class="section mb">
									<div class="left">
										<h5><%= category.name %></h5>
									</div>
									<div class="right text-right">
										<%= image_tag "spree/frontend/arrow-right.png" %>
									</div>
								</div>
								<ul>
									<% @taxons.each do |cate| %>
										<li><%= link_to cate.name, show_taxon_path(cate.id) %></li>
									<% end %>
								</ul>
							</div>
						</div>
					<% end %>
					
				</div>

				