<div class="row">
					<div class="col-md-12">
						<div class="hr"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="hrLight"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-right text-uppercase">
						<h2 class="cat2h2"><%= @taxon.name %></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="hr mb"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<h5><%= @taxon.name %></h5>
						<ul class="leftSideBar">
							<% @products_categories.each do |cate| %>
								<li><%= link_to cate.name, show_taxon_path(cate.id) %></li>
							<% end %>
						</ul>
					</div>
					<div class="col-md-9">
						
							<div class="row">
							<% @products.each do |product| %>
								<div class="col-md-4">
									<a href="#" class="item2">
										
										<div class="imgWrap">
											<%= link_to large_image(product, size: '260x172'), product_path(product) %>
										</div>

										<p><%= product.name %></p>
										<p class="price">$<%= product.price %></p>
									</a>
								</div>
							<% end %>
							</div>
						
						
						</div>
						
				</div>
				