<div class="header-lvl-2 hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="my-flex">
					<div class="logo"><%= link_to image_tag("spree/frontend/logo.png"), root_path %></div>
					<div class="form">
						<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
						<%= form_tag spree.products_path, :method => :get, class: "search" do %>
							<%= search_field_tag :keywords, params[:keywords], :placeholder => "Type to search", class: "search-input" %>
						<% end %>
						<div><a href="#" class="btn btn-primary white-blue"><span><%= image_tag "spree/frontend/head-search.png" %></span>  <span>SEARCH</span></a></div>
						<div>
							<%= link_to cart_path, class: "btn btn-primary white-blue" do %>
								<span><%= image_tag "spree/frontend/head-card.png"%></span> <span>MY CART</span>
							<% end %> 
						</div>
						<div>
							<%= link_to checkout_registration_path, class: "btn btn-primary white-blue" do %>
								<span>CHECK OUT</span>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<%= render 'spree/shared/nav_link_trim'%>
	</div>
</div>