<div class="row">
	<div class="col-md-12">
		<div class="hr"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 text-uppercase">
		<ul class="pag">
			<li><a href="">home</a></li>
			<li><a href="">bathroom</a></li>
			<li><a href="">bathroom sinks</a></li>
			<li><a href="">lorem ipsum</a></li>
		</ul>
	</div>
	<div class="col-md-6 text-right">
		<ul class="pag2">
			<li><a href=""><%= image_tag 'spree/frontend/arrow-left.png' %></a></li>
			<li><span><a href="">1</a></span></li>
			<li><a href="">2</a></li>
			<li><a href="">3</a></li>
			<li><a href="">4</a></li>
			<li><a href="">5</a></li>
			<li><a href=""><%= image_tag 'spree/frontend/arrow-right.png' %></a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="hrLight"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right text-uppercase">
		<h2 class="cat2h2"><%= taxon.name %></h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="hr mb"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h5>Bathroom Sinks</h5>
		<ul class="leftSideBar">
			<li><a href="#">Bathroom Sinks</a></li>
			<li><a href="#">Roman Tub Drains</a></li>
			<li><a href="#">Shower Rods & Holders</a></li>
			<li><a href="#">Shower</a></li>
			<li><a href="#">Shower Arms & Flanges</a></li>
			<li><a href="#">Tub Spouts</a></li>
			<li><a href="#">Conversion Kits</a></li>
			<li><a href="#">Face Plates & Accessories</a></li>
			<li><a href="#">Offset Bath Supplies</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="row">
			<% if products.any? %>
				<% products.each do |product| %>
					<div class="col-md-4 col-sm-4">
						<%= link_to product_path(product), class: 'item2' do%>	
							<div class="imgWrap">
									<%= large_image(product) %>
							</div>
							<p><%= product.name %></p>
							<p class="price">$<%= product.price %></p>
						<% end %>
					</div>	
				<% end %>
			<% else %>
				<div class="alert alert-info" role="alert">No Product Found</div>
			<% end %>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 text-right">
		<div class="hrLight mb2"></div>
	</div>
</div>
