<div class="row">
	<div class="col-md-12">
		<div class="hr"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 text-uppercase">
			<%= breadcrumbs(@taxon) %>	
	</div>
	<div class="col-md-6 text-right">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="hrLight"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right text-uppercase">
		<h2 class="cat2h2"><%= taxon.name %></h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="hr mb"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h5><%= taxon.name %></h5>
		<ul class="leftSideBar">
              <ul>
					<% @products_categories.each do |cate| %>
						<li><a href="<%= nested_taxons_path(cate) %>"><%= cate.name %></a></li>
					<% end %>
              </ul>   			
		</ul>
	</div>
	<div class="col-md-9">
		<div class="row">
			<% if products.any? %>
				<% products.each do |product| %>
					<% url = spree.product_url(product,taxon_id: @taxon.try(:id)) %>
					<div class="col-md-4 col-sm-4">
						<%= link_to url, class: 'item2' do%>	
							<div class="imgWrap">
									<%= large_image(product, size: '260x172') %>
							</div>
							<p><%= product.name %></p>
							<p class="price">$<%= product.price %></p>
						<% end %>
					</div>	
				<% end %>
			<% else %>
				<div class="alert alert-info" role="alert">No Product Found</div>
			<% end %>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 text-right">
		<div class="hrLight mb2"></div>
	</div>
</div>
