    <% if taxons.any? %>
      <% taxons.each do |taxon| %>
          <div class="col-md-3">
            <div class="item">
              <a href="<%= nested_taxons_path(taxon) %>">
                <% if taxon.image_url.blank? %>
                    <%= image_tag "spree/frontend/category-1-item-1.jpg", :alt => taxon.name, class: 'full-width' %>
                <% else %>
                    <%= image_tag taxon.image_url, :alt => taxon.name, class: 'full-width', size: '270x191', :crop => :fill %>
                <% end %>
              </a>

              <div class="section mb">
                <div class="left">
                  <h5><%= taxon.name %></h5>
                </div>
                <div class="right text-right">
                  <%= image_tag 'spree/frontend/arrow-right.png' %>
                </div>
              </div>

              <ul>
                <% taxons.each do |tax| %>
                  <li><a href="<%= nested_taxons_path(tax) %>"><%= tax.name %></a></li>
                <% end %>
              </ul>              
            </div>
          </div>  
      <% end %>
    <% end %>
