<section class="header">
	<div class="header-mob visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<div class="logo"><%= link_to image_tag("spree/frontend/logo.png"), root_path %></div>
				</div>
				<div class="col-xs-6 text-right">
					<button type="button" class="navbar-toggle collapsed" data-item="offcanvas-menu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="header-lvl-1 hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-right">
					<ul class="nav-login">
						
						<li><a href="/admin">DISTRIBUTOR LOGIN</a></li>
						<% if spree_current_user %>
							<li><%= link_to 'Log Out', logout_path, method: :delete %></li>	
							<li><%= link_to 'My Account', spree.account_path %></li>
						<% else %>
							<li><%= link_to 'Log In', login_path %></li>
							<li><%= link_to 'Register', signup_path%></li>
						<% end %>						
					</ul>
					<ul class="nav-social">
						<li><a href="#" class="icon fb"><%= image_tag "spree/frontend/social-f.png"%></a></li>
						<li><a href="#" class="icon tw"><%= image_tag "spree/frontend/social-i.png"%></a></li>
						<li><a href="#" class="icon in"><%= image_tag "spree/frontend/social-t.png"%></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header-lvl-2 hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="my-flex">
						<div class="logo"><%= link_to image_tag("spree/frontend/logo.png"), root_path %></div>
						<div class="form">
							<form action="#">
								<input type="text" class="search" placeholder="Type to Search">
							</form>
							<div><a href="#" class="btn btn-primary white-blue"><span><%= image_tag "spree/frontend/head-search"%></span>  <span>SEARCH</span></a></div>
							<div><a href="#" class="btn btn-primary white-blue"><span><%= image_tag "spree/frontend/head-card.png"%></span> <span>MY CART</span> <span class="count">(12)</span></a></div>
							<div><a href="#" class="btn btn-primary white-blue"> <span>CHECK OUT</span></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav-menu">
						<li><a href="#">home</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Bathroom</a></li>
						<li><a href="#">Kitchen</a></li>
						<li><a href="#">Accessories</a></li>
						<li><a href="#">New Products</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>