<div class="row">
					<div class="col-md-12">
						<div data-item="owl-main" class="main-banner">
							<div class="item">
								<div class="text">
									<h3 class="text-uppercase">UP TO 20% OF ALL LOREM IPSUM</h3>
									<h2 class="text-uppercase">LOREM IPSUM DOLOR</h2>
									<h4 class="text-uppercase">LOREM IPSUM DOLOR SIT AMET LOREM IPSUM DOLOR SIT</h4>
								</div>
								<a href="#"><%= image_tag "spree/frontend/big-home.jpg", class: 'full-width' %></a>
							</div>
							<div class="item">
								<div class="text">
									<h3 class="text-uppercase">UP TO 20% OF ALL LOREM IPSUM</h3>
									<h2 class="text-uppercase">LOREM IPSUM DOLOR</h2>
									<h4 class="text-uppercase">LOREM IPSUM DOLOR SIT AMET LOREM IPSUM DOLOR SIT</h4>
								</div>
								<a href="#"><%= image_tag "spree/frontend/big-home.jpg", class: 'full-width' %></a>
							</div>
							<div class="item">
								<div class="text">
									<h3 class="text-uppercase">UP TO 20% OF ALL LOREM IPSUM</h3>
									<h2 class="text-uppercase">LOREM IPSUM DOLOR</h2>
									<h4 class="text-uppercase">LOREM IPSUM DOLOR SIT AMET LOREM IPSUM DOLOR SIT</h4>
								</div>
								<a href="#"><%= image_tag "spree/frontend/big-home.jpg", class: 'full-width' %></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<a href="#"><%= image_tag "spree/frontend/small-banner-1.jpg", class: 'full-width banner' %></a>
					</div>
					<div class="col-md-4">
						<a href="#"><%= image_tag "spree/frontend/small-banner-1.jpg", class: 'full-width banner' %></a></a>
					</div>
					<div class="col-md-4">
						<a href="#"><%= image_tag "spree/frontend/small-banner-1.jpg", class: 'full-width banner' %></a></a>
					</div>
				</div>