<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div data-item="owl-main" class="main-banner">
			        <% @slides.each do |slide| %>
			          <div class="item">
						<div class="text">
							<h3 class="text-uppercase">UP TO 20% OF ALL LOREM IPSUM</h3>
							<h2 class="text-uppercase">LOREM IPSUM DOLOR</h2>
							<h4 class="text-uppercase">LOREM IPSUM DOLOR SIT AMET LOREM IPSUM DOLOR SIT</h4>
						</div>				          	
			            <% if slide.slide_link.present? %>
			              <a href="<%= slide.slide_link %>" >
			                <%= image_tag slide.slide_image.url %>
			              </a>
			            <% else %>
			              <%= image_tag slide.slide_image.url %>
			            <% end %>
			          </div>
			        <% end %>						
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a href="#"><%= image_tag "spree/frontend/small-banner-1.jpg", class: 'full-width banner' %></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a href="#"><%= image_tag "spree/frontend/small-banner-1.jpg", class: 'full-width banner' %></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<a href="#"><%= image_tag "spree/frontend/small-banner-1.jpg", class: 'full-width banner' %></a>
			</div>
		</div>
	</div>
</section>
